<?xml version="1.0" encoding="utf-8"?>
<zone>
  <short>Public</short>
  <description>Public zone with limited web access</description>

  <service name="ssh"/>
  <forward/>

  {% for ip in perfsonar_frontend_allowed_networks %}

  <rule family="ipv4">
    <source address="{{ ip }}"/>
    <port protocol="tcp" port="80"/>
    <accept/>
  </rule>
  <rule family="ipv4">
    <source address="{{ ip }}"/>
    <port protocol="tcp" port="443"/>
    <accept/>
  </rule>

  {% endfor %}

</zone>